<template>
  <q-page class="col bg-grey-2">
    <q-drawer
      v-model="sidebarOpen"
      side="left"
      overlay
      persistent
      no-swipe-open
      no-swipe-close
      bordered
      dark
      class="bg-teal-8"
      :width="270"
      :breakpoint="500">
      <q-scroll-area class="fit q-pr-md">
        <q-list padding>
          <q-item>
            <q-item-label
              class="text-weight-bolder text-accent"
              header
              overline
              color="secondary"
              >{{ t(`sidebar.filters`) }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-section avatar>
              <q-toggle
                v-model="mapDrawEnabled"
                @update:model-value=";(sidebarOpen = false), (filterPolygon = null)" />
            </q-item-section>
            <q-item-section> {{ t(`sidebar.drawArea`) }} </q-item-section>
          </q-item>

          <q-separator />

          <q-item>
            <div class="col-12">
              <SelectFilter
                v-model="speciesSelected"
                :options="speciesOptions"
                :label="t(`sidebar.species`)"
                label-color="secondary"
                nested-label
                filter
                text-color="grey" />
            </div>
          </q-item>

          <q-separator />

          <q-item>
            <div class="col-12">
              <SelectFilter
                v-model="yearSelected"
                :options="yearOptions"
                :label="t(`sidebar.year`)"
                label-color="secondary"
                filter
                text-color="grey" />
            </div>
          </q-item>

          <q-separator />

          <q-item>
            <div class="col-12">
              <q-range
                class="q-pa-md q-pt-xl q-pr-md"
                :model-value="elevRangeSelected"
                @change="
                  (val) => {
                    elevRangeSelected = val
                  }
                "
                :min="initialElevRange.min"
                :max="initialElevRange.max"
                :left-label-value="elevRangeSelected.min + 'm'"
                :right-label-value="elevRangeSelected.max + 'm'"
                :step="100"
                markers
                snap
                label-always
                color="secondary"
                label-color="grey" />
            </div>
          </q-item>

          <q-separator />

          <q-item class="q-pt-lg">
            <q-item-label
              class="text-weight-bolder text-accent"
              header
              overline
              color="secondary"
              >{{ t(`sidebar.settings`) }}</q-item-label
            >
          </q-item>

          <q-item v-show="speciesModelExists">
            <q-item-section avatar>
              <q-toggle v-model="speciesModelShow" @update:model-value="sidebarOpen = false" />
            </q-item-section>
            <q-item-section> {{ t(`sidebar.viewModel`) }} </q-item-section>
          </q-item>

          <q-item clickable v-ripple @click="generalStore.loadSites(false)">
            <q-item-section avatar>
              <q-icon class="q-pl-sm" name="refresh" />
            </q-item-section>
            <q-item-section> {{ t(`sidebar.triggerUpdate`) }} </q-item-section>
          </q-item>

          <q-separator />
        </q-list>
      </q-scroll-area>

      <div class="q-mini-drawer-hide absolute" style="top: 15px; right: -17px">
        <q-btn
          dense
          round
          unelevated
          color="primary"
          icon="chevron_left"
          @click="sidebarOpen = false"
          aria-label="Close Sidebar" />
      </div>
    </q-drawer>

    <div class="q-py-md q-px-md justify-center">
      <div class="row q-col-gutter-md">
        <div class="col-12 col-md-5">
          <q-card bordered>
            <MapOpenLayers
              style="height: 35rem"
              ref="statsMap"
              :is-minimap="true"
              :base-map="baseMap"
              :draw-enabled="mapDrawEnabled"
              @draw-shape="
                (shape: Array<number> | null) => {
                  filterPolygon = shape
                }
              "
              :geo-json-array="filteredSites"
              :map-center="zoomToClickedPoint"
              :cluster-zoom-on-click="false"
              cluster-marker-color-param="mastTypeId"
              :cluster-marker-color-map="mastIdColorMap"
              :legend-id-name-map="mastIdNameMap"
              :primary-color="quasarColor('primary')"
              :secondary-color="quasarColor('secondary')"
              :accent-color="quasarColor('accent')"
              @click-modal-popup="showSiteModal"
              :flatgeobuf-url="speciesModelflatgeobufUrl"
              flatgeobuf-field-name="gridcode"
              :flatgeobuf-color-ramp="mastModelColorRamp" />
          </q-card>
        </div>
        <div class="col-12 col-md-7">
          <q-card bordered>
            <DataTable
              :data="idsToNames(filteredData)"
              :column-map="columns"
              @row-selected="
                (row) => {
                  dataRowSelected = row
                }
              "
              :export-selection-label="t(`table.export`)"
              :footer-stats="mastStats" />
          </q-card>
        </div>
      </div>

      <div class="row q-col-gutter-md q-pt-md">
        <div class="col-12 col-md-6">
          <q-card bordered>
            <q-card-section>
              <div class="row q-pl-md">
                <div class="col-7 text-subtitle1" style="margin: 0; padding: 0">
                  {{ t(`graph.elevationChartTitle`) }}
                </div>
                <q-space />
                <q-select
                  class="col-1"
                  dense
                  borderless
                  hide-dropdown-icon
                  v-model="elevChartStep"
                  :options="elevChartStepOptions"
                  :label="t(`graph.step`)" />
                <q-toggle v-model="elevChartInvert">{{ t(`graph.invert`) }}</q-toggle>
                <q-toggle v-model="elevChartRelative">{{ t(`graph.relative`) }}</q-toggle>
              </div>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <apexchart
                ref="elevChart"
                type="bar"
                :options="elevChartOptions"
                :series="elevChartData" />
            </q-card-section>
          </q-card>
        </div>
        <div class="col-12 col-md-6">
          <q-card bordered>
            <q-card-section>
              <div class="row q-pl-md">
                <div class="col-7 text-subtitle1">{{ t(`graph.timeChartTitle`) }}</div>
                <q-space />
                <q-select
                  class="col-2"
                  dense
                  borderless
                  hide-dropdown-icon
                  v-model="timeChartRange"
                  :options="timeChartRangeOptions"
                  :label="t(`graph.range`)" />
                <q-toggle v-model="timeChartRelative">{{ t(`graph.relative`) }}</q-toggle>
              </div>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <apexchart
                ref="timeChart"
                type="bar"
                :options="timeChartOptions"
                :series="timeChartData" />
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>

    <SiteDataModal v-model="siteModalDialog" :site-details="siteSelected" />
  </q-page>
</template>

<script setup lang="ts">
  import { onMounted, onBeforeMount, onBeforeUnmount, toRaw, watch } from 'vue'
  import { date, colors, type QTableColumn } from 'quasar'
  import { useI18n } from 'vue-i18n'
  import { camelize } from 'humps'
  import type { ApexOptions } from 'apexcharts'
  import type { VueApexChartsComponent } from 'vue3-apexcharts'

  import { storeToRefs } from 'pinia'
  import { useUserStore } from '@/stores/user'
  import { useGeneralStore } from '@/stores/general'

  import { speciesMap, mastMap } from '@/mappings'
  import type {
    QSelectOptionsField,
    IdValueMap,
    LabelValueMap,
    ElevationMinMax,
    StackedSeries,
    MastIdValueMap,
  } from '@/mappings'
  import type { SiteData } from '@/models'

  import type { GeoJSONFeature } from 'ol/format/GeoJSON'
  import { Polygon } from 'ol/geom'

  import MapOpenLayers from '@/components/MapOpenLayers.vue'
  import SelectFilter from '@/components/SelectFilter.vue'
  import DataTable from '@/components/DataTable.vue'
  import SiteDataModal from '@/components/SiteDataModal.vue'

  const { getPaletteColor: quasarColor } = colors
  const { t } = useI18n()
  const userStore = useUserStore()
  let { baseMap, currentLocale } = storeToRefs(userStore)

  const generalStore = useGeneralStore()
  const { sites, sidebarOpen, useSidebar } = storeToRefs(generalStore)
  const mapDrawEnabled = $ref<boolean>(false)

  let yearSelected = $ref<string>((new Date().getFullYear() - 1).toString())
  const yearOptions = ([''] as Array<string>).concat(
    Array.from(Array(new Date().getFullYear() - 1990), (_, i) => (i + 1991).toString()).reverse()
  )
  let speciesSelected = $ref<QSelectOptionsField>({
    label: t(`speciesOptions.${camelize('Abies alba')}`),
    id: 1,
  })
  const speciesOptions: Array<QSelectOptionsField> = $computed(() => {
    const speciesCamel = speciesMap.map((x) => ({
      ...x,
      label: t(`speciesOptions.${camelize(x.label)}`),
    }))

    // First update existing selection language
    if (speciesSelected && speciesSelected.id !== -1) {
      speciesSelected = speciesCamel.find((x) => x.id === speciesSelected.id)
    }

    return speciesCamel
  })
  const initialElevations = ((): Array<number> => {
    return sites.value
      .filter((site: GeoJSONFeature) => site.properties.elevation !== null)
      .map((site: GeoJSONFeature) => site.properties.elevation)
  })()
  const initialElevRange: ElevationMinMax =
    initialElevations.length !== 0
      ? {
          min: Math.min(...initialElevations),
          max: Math.max(...initialElevations),
        }
      : { min: 0, max: 0 }
  const elevRangeSelected = $ref<ElevationMinMax>(initialElevRange)

  const columns = $computed<Array<QTableColumn>>(() => {
    return [
      { name: 'speciesId', field: 'speciesId', label: t('sidebar.species'), sortable: true },
      { name: 'mastTypeId', field: 'mastTypeId', label: t('table.type'), sortable: true },
      { name: 'mastYear', field: 'mastYear', label: t('sidebar.year'), sortable: true },
      {
        name: 'dateObservation',
        field: 'dateObservation',
        label: t('table.date'),
        sortable: true,
        format: (val) => {
          if (!val) {
            return
          }
          return date.formatDate(date.extractDate(val, 'YYYY-MM-DDTHH:mm:ssZ'), 'YYYY-MM-DD')
        },
      },
      { name: 'elevation', field: 'elevation', label: t('table.elevation'), sortable: true },
      { name: 'slope', field: 'slope', label: t('table.slope'), sortable: true },
      { name: 'eastness', field: 'eastness', label: t('table.eastness'), sortable: true },
      { name: 'northness', field: 'northness', label: t('table.northness'), sortable: true },
      { name: 'canton', field: 'canton', label: t('table.canton') },
      { name: 'municipality', field: 'municipality', label: t('table.municipality') },
      { name: 'vegetationBelt', field: 'vegetationBelt', label: t('table.vegBelt') },
      { name: 'biogeographicRegion', field: 'biogeographicRegion', label: t('table.bioRegion') },
      { name: 'coord', field: 'coord', label: `${t('table.coord')} (WGS 84)` },
      {
        name: 'systematic',
        field: 'systematic',
        label: t('table.systematic'),
        sortable: true,
        format: (val) => {
          if (val === false) {
            return '✖'
          } else {
            return '✔'
          }
        },
        classes: 'q-checkbox',
      },
      {
        name: 'inStand',
        field: 'inStand',
        label: t('table.inStand'),
        sortable: true,
        format: (val) => {
          if (val === false) {
            return '✖'
          } else {
            return '✔'
          }
        },
        classes: 'q-checkbox',
      },
      { name: 'dataSource', field: 'dataSource', label: t('table.dataSource') },
    ]
  })
  const mastIdColorMap = {
    0: quasarColor('lime-5'),
    1: quasarColor('light-green-5'),
    2: quasarColor('green-5'),
    3: quasarColor('green-9'),
  }
  const mastIdNameMap = {
    0: t('mastOptions.0'),
    1: t('mastOptions.1'),
    2: t('mastOptions.2'),
    3: t('mastOptions.3'),
  }
  const mastIdToName = $computed<IdValueMap>(() => {
    return mastMap.reduce((obj, item) => ({ ...obj, [item.id]: t(`mastOptions.${item.id}`) }), {})
  })
  const speciesIdToName = $computed<IdValueMap>(() => {
    return speciesMap.reduce(
      (obj, item) => ({ ...obj, [item.id]: t(`speciesOptions.${camelize(item.label)}`) }),
      {}
    )
  })
  function idsToNames(dataArray: Array<SiteData>) {
    // Convert species and mast IDs to human readable names
    return dataArray.map((x) => ({
      ...x,
      mastTypeId: mastIdToName[x.mastTypeId],
      speciesId: speciesIdToName[x.speciesId],
    }))
  }

  const filterPolygon = $ref<Array<number> | null>()
  const olPolygon = $computed(() => (filterPolygon ? new Polygon(filterPolygon) : null))
  function getAllSpeciesIdsInGenus(speciesLabel: string) {
    const [firstWord, secondWord] = speciesLabel.split(' ')
    return secondWord === 'Sp.'
      ? speciesMap
          .filter((species) => species.label.startsWith(firstWord))
          .map((species) => species.id)
      : null
  }
  const filteredSitesAllYears: Array<GeoJSONFeature> = $computed<Array<GeoJSONFeature>>(() => {
    const geospatialFilter = (x: GeoJSONFeature) => {
      return !olPolygon || olPolygon.intersectsCoordinate(x.geometry.coordinates)
    }

    const speciesFilter = (x: GeoJSONFeature) => {
      const filterSpeciesId = speciesSelected?.label
        ? getAllSpeciesIdsInGenus(speciesSelected.label) || [speciesSelected.id]
        : null
      return !filterSpeciesId || filterSpeciesId.includes(x.properties.speciesId)
    }

    const elevationFilter = (x: GeoJSONFeature) => {
      const elevRange = toRaw(elevRangeSelected)
      const elevFilterInUse =
        elevRange.min !== initialElevRange.min || elevRange.max !== initialElevRange.max

      return (
        !elevFilterInUse ||
        (x.properties.elevation > elevRangeSelected.min &&
          x.properties.elevation < elevRangeSelected.max)
      )
    }

    return sites.value.filter((x) => geospatialFilter(x) && speciesFilter(x) && elevationFilter(x))
  })
  const filteredSites: Array<GeoJSONFeature> = $computed<Array<GeoJSONFeature>>(() => {
    return filteredSitesAllYears.filter((x) => {
      return !yearSelected || x.properties.mastYear === parseInt(yearSelected)
    })
  })
  const filteredData: Array<SiteData> = $computed<Array<SiteData>>(() => {
    // Extract properties from GeoJSON
    return filteredSites.map((x: GeoJSONFeature) => ({
      id: x.id,
      coord: `${x.geometry.coordinates[1]}, ${x.geometry.coordinates[0]}`,
      ...x.properties,
    }))
  })

  const noMast: Array<SiteData> = $computed<Array<SiteData>>(() => {
    return filteredData.filter((x) => x.mastTypeId === 0)
  })
  const partialMast: Array<SiteData> = $computed<Array<SiteData>>(() => {
    return filteredData.filter((x) => x.mastTypeId === 1)
  })
  const halfMast: Array<SiteData> = $computed<Array<SiteData>>(() => {
    return filteredData.filter((x) => x.mastTypeId === 2)
  })
  const fullMast: Array<SiteData> = $computed<Array<SiteData>>(() => {
    return filteredData.filter((x) => x.mastTypeId === 3)
  })

  const mastStats: Array<LabelValueMap> = $computed<Array<LabelValueMap>>(() => {
    const totalMasts: number = filteredData.length
    return [
      { label: t('table.total'), value: totalMasts },
      {
        label: t('mastOptions.0'),
        value: `${((noMast.length / totalMasts) * 100).toFixed(1)}%`,
      },
      {
        label: t('mastOptions.1'),
        value: `${((partialMast.length / totalMasts) * 100).toFixed(1)}%`,
      },
      {
        label: t('mastOptions.2'),
        value: `${((halfMast.length / totalMasts) * 100).toFixed(1)}%`,
      },
      {
        label: t('mastOptions.3'),
        value: `${((fullMast.length / totalMasts) * 100).toFixed(1)}%`,
      },
      // {
      //   label: t('table.average'),
      //   value: Math.round(
      //     filteredData.reduce((total, next) => total + next?.elevation, 0) / filteredData.length
      //   ),
      // },
    ]
  })

  // *** CHARTS *** //
  function getIntervals(inputArray: Array<number>, step: number): Array<Array<number>> {
    const min: number = Math.floor(Math.min(...inputArray) / 100) * 100
    const max: number = Math.ceil(Math.max(...inputArray) / 100) * 100
    const stepArray = []

    for (let i = min; i <= max; i += step) {
      stepArray.push(i)
    }

    const intervalArray: Array<Array<number>> = []

    for (let i = 0; i < stepArray.length - 1; i++) {
      intervalArray.push([stepArray[i], stepArray[i + 1]])
    }

    return intervalArray
  }

  const mastCategories = $computed<Array<string>>(() => {
    return [t('mastOptions.0'), t('mastOptions.1'), t('mastOptions.2'), t('mastOptions.3')]
  })

  // ELEVATION CHART
  const elevChart = $ref<VueApexChartsComponent>()
  // Get elevation graph intervals
  const elevations = $computed<Array<number>>(() => {
    let elevArray: Array<number> = []
    filteredData.forEach((site: SiteData) => {
      if (site.elevation !== null) {
        elevArray.push(site.elevation)
      }
    })
    return elevArray
  })
  const elevChartStep = $ref<number>(300)
  const elevChartStepOptions: Array<number> = [100, 200, 300, 400]
  const elevationIntervals = $computed<Array<Array<number>>>(() => {
    return getIntervals(elevations, elevChartStep)
  })

  const elevChartInvert = $ref<boolean>(false)
  const elevChartData: ApexOptions['series'] = $computed<ApexOptions['series']>(() => {
    const inRange = (a: number, b: number) => (n: number) => a < n && n < b
    let chartSeries: StackedSeries = []

    mastCategories.forEach((label: string) => {
      chartSeries?.push({
        name: label,
        data: [],
      })
    })
    elevationIntervals.forEach((x: Array<number>) => {
      const between = inRange(x[0], x[1])
      chartSeries[0].data.push(
        noMast.filter((site: SiteData) => site.elevation !== null && between(site.elevation)).length
      )
      chartSeries[1].data.push(
        partialMast.filter((site: SiteData) => site.elevation !== null && between(site.elevation))
          .length
      )
      chartSeries[2].data.push(
        halfMast.filter((site: SiteData) => site.elevation !== null && between(site.elevation))
          .length
      )
      chartSeries[3].data.push(
        fullMast.filter((site: SiteData) => site.elevation !== null && between(site.elevation))
          .length
      )
    })

    if (elevChartInvert) {
      let mastSeries: StackedSeries = []
      elevationIntervals.forEach((interval: Array<number>) => {
        mastSeries.push({
          name: `${interval.join(' - ')} m`,
          data: [],
        })
      })
      chartSeries.forEach((series) => {
        series.data.forEach((elevation: number, index: number) => {
          mastSeries[index].data.push(elevation)
        })
      })
      chartSeries = mastSeries
    }

    return chartSeries
  })
  const elevChartRelative = $ref<boolean>(false)
  const elevChartOptions: ApexOptions = $computed<ApexOptions>(() => {
    return {
      colors: Object.entries(mastIdColorMap).map(([_, value]) => value),
      chart: {
        id: 'elevation-distribution',
        defaultLocale: currentLocale.value ? currentLocale.value : 'en',
        stacked: true,
        stackType: elevChartRelative ? '100%' : 'normal',
      },
      xaxis: {
        categories: elevChartInvert ? mastCategories : elevationIntervals,
        labels: {
          formatter: elevChartInvert
            ? undefined
            : (val: Array<number>) => {
                if (val.length !== 2) {
                  return ''
                }
                return `${val[0]} - ${val[1]} m`
              },
        },
      },
      yaxis: {
        title: {
          text: elevChartRelative ? t('graph.percentObservations') : t('graph.numObservations'),
          style: {
            cssClass: 'text-subtitle2',
          },
        },
        max: elevChartRelative ? 100 : undefined,
      },
      dataLabels: {
        enabled: elevChartInvert ? false : true,
        formatter: (val: string) => {
          return parseInt(val)
        },
      },
    }
  })

  // TIME CHART
  const timeChart = $ref<VueApexChartsComponent>()
  let timeChartRange = $ref<QSelectOptionsField>({
    label: `${t('graph.last')} 10`,
    id: 10,
  })
  const timeChartRangeOptions = $computed<Array<QSelectOptionsField>>(() => {
    const timeRangesTranslated = [
      {
        label: t('graph.one'),
        id: 1,
      },
      {
        label: t('graph.all'),
        id: new Date().getFullYear() - 1990,
      },
      {
        label: `${t('graph.last')} 10`,
        id: 10,
      },
      {
        label: `${t('graph.last')} 20`,
        id: 20,
      },
    ]

    // First update existing selection language
    timeChartRange = timeRangesTranslated.find((x) => x.id === timeChartRange.id)

    return timeRangesTranslated
  })
  const yearIntervals = $computed<Array<string>>(() => {
    if (timeChartRange.id === 1 && yearSelected) {
      return [yearSelected]
    }
    return Array.from(Array(timeChartRange.id), (_, i) =>
      (i + (new Date().getFullYear() - timeChartRange.id) + 1).toString()
    ).sort()
  })

  const timeChartData: ApexOptions['series'] = $computed<ApexOptions['series']>(() => {
    let chartSeries: StackedSeries = mastCategories.map((label: string) => ({
      name: label,
      data: [],
    }))

    yearIntervals.forEach((intervalYear: string) => {
      const yearValues = filteredSitesAllYears.filter(
        (site: GeoJSONFeature) => site.properties.mastYear === parseInt(intervalYear)
      )

      const yearValuesByMastId: MastIdValueMap = {
        0: yearValues.filter((site: GeoJSONFeature) => site.properties.mastTypeId === 0),
        1: yearValues.filter((site: GeoJSONFeature) => site.properties.mastTypeId === 1),
        2: yearValues.filter((site: GeoJSONFeature) => site.properties.mastTypeId === 2),
        3: yearValues.filter((site: GeoJSONFeature) => site.properties.mastTypeId === 3),
      }

      chartSeries.forEach((series, index) => {
        series.data.push(yearValuesByMastId[index].length)
      })
    })

    return chartSeries
  })

  const timeChartRelative = $ref<boolean>(false)
  const timeChartOptions: ApexOptions = $computed<ApexOptions>(() => {
    return {
      colors: Object.entries(mastIdColorMap).map(([_, value]) => value),
      chart: {
        id: 'temporal-distribution',
        defaultLocale: currentLocale.value ? currentLocale.value : 'en',
        stacked: true,
        stackType: timeChartRelative ? '100%' : 'normal',
      },
      xaxis: {
        categories: yearIntervals,
      },
      yaxis: {
        title: {
          text: timeChartRelative ? t('graph.percentObservations') : t('graph.numObservations'),
          style: {
            cssClass: 'text-subtitle2',
          },
        },
        max: timeChartRelative ? 100 : undefined,
      },
      dataLabels: {
        enabled: yearIntervals.length < 6 ? true : false,
        formatter: (val: string) => {
          return parseInt(val)
        },
      },
    }
  })

  // Add dynamic locales for each chart
  function setLocale(localeString: string) {
    // Set Apex chart locales
    if (elevChart?.chart) {
      elevChart.chart.setLocale(localeString)
    }
    if (timeChart?.chart) {
      timeChart.chart.setLocale(localeString)
    }
  }
  // Set locale if in user store
  if (currentLocale.value) {
    setLocale(currentLocale.value)
  }
  watch(currentLocale, (val) => {
    setLocale(val)
  })

  const dataRowSelected: SiteData | null = $ref<SiteData | null>(null)
  const zoomToClickedPoint: Array<number> = $computed<Array<number>>(() => {
    if (dataRowSelected) {
      return toRaw(sites.value.find((x) => x.id === dataRowSelected?.id).geometry.coordinates)
    }
  })

  const speciesModelShow = $ref<boolean>(false)
  const modelYears = Array.from(Array(new Date().getFullYear() - 2014), (_, i) => i + 2015)
  const speciesModelExists = $computed<boolean>(() => {
    return (
      [1, 2, 3, 4, 5].includes(speciesSelected.id) && modelYears.includes(parseInt(yearSelected))
    )
  })
  const speciesModelflatgeobufUrl = $computed<string | undefined>(() => {
    if (speciesModelShow && speciesModelExists) {
      const speciesNameCamel = camelize(speciesMap[speciesSelected.id - 1].label)
      return `${import.meta.env.APP_MODEL_S3_URL}/${yearSelected}_${speciesNameCamel}.fgb`
    }
    return undefined
  })
  const mastModelColorRamp = [
    quasarColor('lime-1'),
    quasarColor('lime-3'),
    quasarColor('lime-5'),
    quasarColor('light-green-4'),
    quasarColor('green-5'),
    quasarColor('green-9'),
  ]

  let siteModalDialog = $ref<boolean>(false)
  let siteSelected = $ref<SiteData>()
  function showSiteModal(site: SiteData) {
    siteSelected = site
    siteModalDialog = !siteModalDialog
  }

  onBeforeMount(() => {
    // If no data in current year, go back a year
    if (filteredSites.length === 0) {
      yearSelected = (parseInt(yearSelected) - 1).toString()
    }
  })

  onMounted(() => {
    useSidebar.value = true
  })

  onBeforeUnmount(() => {
    useSidebar.value = false
  })
</script>
