<template>
  <q-page class="column items-center q-pa-lg"> </q-page>
</template>

<script setup lang="ts">
  import { onMounted } from 'vue'
  import { useUserStore } from '@/stores/user'

  const userStore = useUserStore()

  onMounted(async () => {
    await userStore.logout()
  })
</script>
