<template>
  <q-page class="column items-center q-pa-lg">
    <q-card>
      <div class="row justify-center q-pt-lg">
        <q-avatar v-if="apiAccount.picture || authAccount.picture" size="7rem">
          <img :src="apiAccount.picture || authAccount.picture" alt="" />
        </q-avatar>
        <q-avatar v-else class="text-grey" size="7rem" font-size="6rem" icon="account_circle" />
      </div>

      <div class="row justify-center">
        <div class="text-weight-bold text-h6 q-pt-md">
          {{ apiAccount.displayName || displayName }}
        </div>
      </div>

      <q-list class="q-pt-lg q-pa-md">
        <q-item v-if="apiAccount.givenName || authAccount.given_name">
          <q-item-label class="q-py-sm"
            ><b>{{ t('profile.firstName') }}</b
            >: {{ apiAccount.givenName || authAccount.given_name }}</q-item-label
          >
        </q-item>

        <q-item v-if="apiAccount.familyName || authAccount.family_name">
          <q-item-label class="q-py-sm"
            ><b>{{ t('profile.lastName') }}</b
            >: {{ apiAccount.familyName || authAccount.family_name }}</q-item-label
          >
        </q-item>

        <q-item>
          <q-item-label class="q-py-sm"
            ><b>{{ t('profile.email') }}</b
            >: {{ apiAccount.email || authAccount.email }}</q-item-label
          >
        </q-item>

        <q-item>
          <q-item-section class="q-py-sm">
            <q-select
              dense
              v-model="apiAccount.locale"
              :display-value="userLocale"
              :label="t('profile.locale')"
              @update:model-value="updateLocale"
              :options="['en', 'de', 'fr', 'it']" />
          </q-item-section>
        </q-item>

        <q-item>
          <q-item-section class="q-py-sm">
            <q-checkbox
              dense
              v-model="apiAccount.subscribed"
              :label="t('profile.subscribed')"
              @update:model-value="toggleSubscribed" />
          </q-item-section>
        </q-item>
      </q-list>
      <q-list class="q-pa-md" bordered separator>
        <q-item
          class="q-pl-sm"
          clickable
          v-ripple
          @click="downloadInstructions"
          :aria-label="t('profile.downloadInstructions')">
          <q-item-section avatar>
            <q-icon name="article" size="1.6rem" color="primary" />
          </q-item-section>
          <q-item-section>
            {{ t('profile.downloadInstructions') }}
          </q-item-section>
        </q-item>

        <q-item
          class="q-pl-sm"
          clickable
          v-ripple
          @click="downloadExcelTemplate"
          :aria-label="t('profile.downloadTemplate')">
          <q-item-section avatar>
            <q-icon name="download" size="2rem" color="primary" />
          </q-item-section>
          <q-item-section>
            {{ t('profile.downloadTemplate') }}
          </q-item-section>
        </q-item>

        <q-item
          class="q-pl-sm"
          clickable
          v-ripple
          @click="filePicker.pickFiles()"
          :aria-label="t('profile.upload')">
          <q-item-section avatar style="margin-right: -6px">
            <q-icon name="upload" size="2rem" color="primary" />
          </q-item-section>
          <q-item-section>
            <q-file
              ref="filePicker"
              borderless
              hide-hint
              hide-bottom-space
              dense
              label-slot
              label-color="black"
              v-model="fileToUpload"
              accept=".xls, .xlsx"
              max-file-size="10000000"
              @update:model-value="uploadExcel"
              @rejected="rejectUpload">
              <template #prepend> </template>
              <template #label>
                {{ t('profile.upload') }}
              </template>
            </q-file>
          </q-item-section>
        </q-item>

        <q-item
          class="q-pl-sm"
          clickable
          v-ripple
          @click="downloadUserData"
          :aria-label="t('profile.downloadUserData')">
          <q-item-section avatar>
            <q-icon name="save" size="1.6rem" color="primary" />
          </q-item-section>
          <q-item-section>
            {{ t('profile.downloadUserData') }}
          </q-item-section>
        </q-item>

        <q-item
          class="q-pl-sm"
          clickable
          v-ripple
          @click="showDeleteDialog = true"
          :aria-label="t('profile.deleteAccount')">
          <q-item-section avatar>
            <q-icon name="delete" size="1.6rem" color="primary" />
          </q-item-section>
          <q-item-section>
            {{ t('profile.deleteAccount') }}
          </q-item-section>
        </q-item>

        <q-item class="flex flex-center q-py-lg" clickable v-ripple @click="userStore.logout()">
          <div class="row text-center">
            <q-item-section avatar>
              <q-icon name="logout" size="2rem" color="primary" />
            </q-item-section>
            <q-item-section>
              {{ t('profile.logout') }}
            </q-item-section>
          </div>
        </q-item>
      </q-list>
    </q-card>

    <q-btn class="q-mt-md" color="primary" @click="showPrivacyDialog = true">Privacy Policy</q-btn>

    <!-- Dialogs -->

    <q-dialog v-model="showPrivacyDialog" persistent maximized>
      <q-card class="bg-primary">
        <q-bar>
          <q-btn flat color="secondary" href="https://app.mastweb.ch/privacy.html" target="_"
            >Open In New Tab</q-btn
          >
          <q-space />
          <q-btn dense flat icon="close" v-close-popup aria-label="Close">
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section style="height: 80vh">
          <iframe src="privacy.html" frameborder="0" width="100%" height="100%" />
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="showDeleteDialog">
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">{{ t('profile.confirmDeleteTitle') }}</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <p>{{ t('profile.confirmDeleteText1') }}</p>
          <p>{{ t('profile.confirmDeleteText2') }}</p>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            dense
            v-model="deleteDialogEmail"
            autofocus
            :hint="t('profile.confirmDeleteInput')"
            @keyup.enter="deleteAccount" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn
            flat
            :label="t('profile.cancelDelete')"
            v-close-popup
            :aria-label="t('profile.cancelDelete')" />
          <q-btn
            flat
            :label="t('profile.confirmDelete')"
            v-close-popup
            color="negative"
            :disable="!deleteDialogEmailValidated"
            :aria-label="t('profile.confirmDelete')"
            @click="deleteAccount" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script setup lang="ts">
  import { onMounted } from 'vue'
  import { useQuasar } from 'quasar'
  import type { QFile, QBtn } from 'quasar'
  import { useI18n } from 'vue-i18n'

  import { storeToRefs } from 'pinia'
  import type { AxiosError } from 'axios'

  import { useUserStore } from '@/stores/user'
  import { api } from '@/boot/axios'

  const $q = useQuasar()
  const { t } = useI18n()
  const userStore = useUserStore()
  const { authAccount, apiAccount, accessToken } = storeToRefs(userStore)
  let { currentLocale } = storeToRefs(userStore)

  const showPrivacyDialog = $ref<boolean>(false)
  let showDeleteDialog = $ref<boolean>(false)
  let deleteDialogEmail = $ref<string>('')
  const deleteDialogEmailValidated = $computed<boolean>(() => {
    if (deleteDialogEmail === apiAccount.value?.email) {
      return true
    }
    return false
  })
  async function deleteAccount() {
    if (deleteDialogEmailValidated) {
      showDeleteDialog = false
      deleteDialogEmail = ''

      const response = await api.delete('/me', {
        headers: {
          Authorization: `Bearer ${accessToken.value}`,
        },
      })
      if (response.status === 200) {
        await userStore.logout()
      } else {
        $q.notify({
          color: 'negative',
          position: 'bottom',
          message: t('profile.deleteAccountFailed'),
          caption: t('profile.contactAdmin'),
          icon: 'report_problem',
        })
      }
    }
  }

  const displayName = $computed(() => {
    if (authAccount.value?.nickname) {
      return authAccount.value.nickname
    } else if (authAccount.value?.name) {
      return authAccount.value.name
    } else {
      return authAccount.value?.email
    }
  })

  const userLocale = $computed(() => {
    return apiAccount.value.locale || authAccount.value.locale
  })

  const filePicker = $ref<QFile>()
  let fileToUpload = $ref<File | null>()

  async function uploadExcel() {
    if (!fileToUpload) {
      rejectUpload()
      return
    }

    const siteUploading = $q.notify({
      group: false,
      color: 'primary',
      position: 'center',
      message: t('profile.uploading') + '...',
      caption: '0%',
      spinner: true,
      timeout: 0,
    })

    const formData = new FormData()
    formData.set('file', fileToUpload)

    api
      .post('/import', formData, {
        headers: {
          Authorization: `Bearer ${accessToken.value}`,
          'Content-Type': 'multipart/form-data',
        },
        onUploadProgress: (progressEvent) => {
          const percentComplete = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total || 100
          )
          siteUploading({
            caption: `${percentComplete}%`,
          })
        },
      })
      .then(() => {
        siteUploading()
        $q.notify({
          color: 'positive',
          position: 'bottom',
          message: t('profile.uploadSuccess'),
          icon: 'done_outline',
        })
      })
      .catch((error: AxiosError) => {
        siteUploading()
        if (error.response?.status === 422) {
          $q.notify({
            color: 'accent',
            position: 'bottom',
            message: t('profile.uploadValidationError'),
            caption: error.response.data.message,
            icon: 'report_problem',
            timeout: 8000,
          })
        } else {
          $q.notify({
            color: 'negative',
            position: 'bottom',
            message: t('profile.uploadFail'),
            icon: 'report_problem',
          })
        }
      })
      .finally(() => {
        fileToUpload = null
        filePicker?.blur()
      })
  }

  function rejectUpload() {
    $q.notify({
      color: 'negative',
      position: 'bottom',
      message: t('profile.uploadFail'),
      icon: 'report_problem',
    })
  }

  function downloadFile(filename: string, data: Blob) {
    // Workaround to download file / create file link in browser memory
    // Only use this for small files
    const href = URL.createObjectURL(data)
    // create "a" HTML element with href to file & click
    const link = document.createElement('a')
    link.href = href
    link.setAttribute('download', filename)
    document.body.appendChild(link)
    link.click()
    // clean up "a" element & remove ObjectURL
    document.body.removeChild(link)
    URL.revokeObjectURL(href)
  }

  async function downloadExcelTemplate() {
    api
      .get('/template', {
        responseType: 'blob',
      })
      .then((response) => {
        downloadFile('mastweb_template.xlsx', response.data)
      })
      .catch(() => {
        $q.notify({
          color: 'negative',
          position: 'bottom',
          message: t('profile.downloadFailed'),
          icon: 'report_problem',
        })
      })
  }

  async function downloadUserData() {
    api
      .get('/get-my-data', {
        headers: {
          Authorization: `Bearer ${accessToken.value}`,
        },
        responseType: 'blob',
      })
      .then((response) => {
        downloadFile('user_data.csv', response.data)
      })
      .catch(() => {
        $q.notify({
          color: 'negative',
          position: 'bottom',
          message: t('profile.downloadFailed'),
          icon: 'report_problem',
        })
      })
  }

  async function downloadInstructions() {
    window.open(import.meta.env.APP_INSTRUCTIONS_URL, '_blank').focus()
  }

  async function toggleSubscribed() {
    api.put(
      '/me',
      {
        subscribed: apiAccount.value.subscribed,
      },
      {
        headers: {
          Authorization: `Bearer ${accessToken.value}`,
        },
      }
    )
  }

  async function updateLocale() {
    currentLocale.value = apiAccount.value.locale
    api.put(
      '/me',
      {
        locale: apiAccount.value.locale,
      },
      {
        headers: {
          Authorization: `Bearer ${accessToken.value}`,
        },
      }
    )
  }

  onMounted(() => {
    if (!apiAccount.value.email) {
      // Only call if not cached in localStorage
      api
        .get('/me', {
          headers: {
            Authorization: `Bearer ${accessToken.value}`,
          },
        })
        .then((response) => {
          const apiUser = response.data
          Object.assign(apiAccount.value, {
            displayName: apiUser.displayName,
            email: apiUser.email,
            familyName: apiUser.familyName,
            givenName: apiUser.givenName,
            locale: apiUser.locale,
            name: apiUser.name,
            nickname: apiUser.nickname,
            picture: apiUser.picture,
            subscribed: apiUser.subscribed,
          })
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'bottom',
            message: t('profile.failedGetUser'),
            icon: 'report_problem',
          })
        })
    }
  })
</script>
