<template>
  <q-table
    class="sticky-virtscroll-table"
    :rows="data"
    :columns="columnMap"
    @row-click="
      (_evt, row) => {
        emit('rowSelected', row)
      }
    "
    virtual-scroll
    :rows-per-page-options="[0]"
    :virtual-scroll-item-size="48"
    :virtual-scroll-sticky-size-start="48">
    <template #top="componentProps">
      <q-btn
        color="primary"
        icon-right="archive"
        :label="exportSelectionLabel"
        no-caps
        @click="exportTable"
        :aria-label="exportSelectionLabel" />
      <q-space />
      <q-btn
        dense
        flat
        :icon="componentProps.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
        @click="componentProps.toggleFullscreen"
        aria-label="Toggle Fullscreen" />
    </template>
    <template #top-selection> selected </template>
    <template #bottom v-if="footerStats">
      <div class="row q-gutter-x-lg text-center">
        <div class="col-md-auto" :key="index" v-for="(item, index) in footerStats">
          <b>{{ item.label }}</b
          >: {{ item.value }}
        </div>
      </div>
    </template>
  </q-table>
</template>

<script setup lang="ts">
  import type { PropType } from 'vue'
  import { useQuasar, exportFile } from 'quasar'
  import type { QTableColumn, QTableProps } from 'quasar'

  const $q = useQuasar()

  const props = defineProps({
    data: {
      type: Array as PropType<Array<QTableProps['rows']>>,
      default: () => [],
      required: true,
    },
    columnMap: {
      type: Array as PropType<Array<QTableColumn> | undefined>,
      default: undefined,
    },
    exportSelectionLabel: {
      type: String as PropType<string>,
      default: 'Export Selection',
    },
    footerStats: {
      type: Object as PropType<object>,
      default: () => ({}),
    },
  })

  const emit = defineEmits<{
    (_e: 'rowSelected', _value: object): void
  }>()

  function wrapCsvValue(val: string, formatFn?: () => void, row?) {
    let formatted = formatFn !== void 0 ? formatFn(val, row) : val

    formatted = formatted === void 0 || formatted === null ? '' : String(formatted)

    formatted = formatted.split('"').join('""')

    return `"${formatted}"`
  }

  function exportTable() {
    if (!props.columnMap) {
      return
    }

    // naive encoding to csv format
    const content = [props.columnMap.map((col) => wrapCsvValue(col.label))]
      .concat(
        props.data.map((row) =>
          props.columnMap
            .map((col) =>
              wrapCsvValue(
                typeof col.field === 'function'
                  ? col.field(row)
                  : row[col.field === void 0 ? col.name : col.field],
                col.format,
                row
              )
            )
            .join(',')
        )
      )
      .join('\r\n')

    const status = exportFile('table-export.csv', '\ufeff' + content, 'text/csv')

    if (status !== true) {
      $q.notify({
        message: 'Browser denied file download...',
        color: 'negative',
        icon: 'warning',
      })
    }
  }
</script>
