<template>
  <q-dialog>
    <q-card class="bg-primary text-white">
      <q-bar>
        {{ t('map.siteDetails') }}
        <q-space />

        <q-btn dense flat icon="close" v-close-popup aria-label="Close">
          <q-tooltip class="bg-white text-primary">Close</q-tooltip>
        </q-btn>
      </q-bar>

      <q-card-section class="q-px-none">
        <q-list dense>
          <q-item>
            <q-item-label
              ><b>{{ t('map.species') }}</b
              >:
              {{
                speciesMap.find((x) => x.id === siteDetails.speciesId).label || 'None'
              }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('newSite.mastType') }}</b
              >: {{ t(`mastOptions.${siteDetails.mastTypeId}`) || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('map.year') }}</b
              >: {{ siteDetails.mastYear || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.systematic') }}</b
              >: {{ siteDetails.systematic || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.dataSource') }}</b
              >: {{ siteDetails.dataSource || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.elevation') }}</b
              >: {{ siteDetails.elevation || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.canton') }}</b
              >: {{ siteDetails.canton || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.vegBelt') }}</b
              >: {{ siteDetails.vegetationBelt || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.bioRegion') }}</b
              >: {{ siteDetails.biogeographicRegion || 'None' }}</q-item-label
            >
          </q-item>

          <q-item>
            <q-item-label
              ><b>{{ t('table.coord') }} (WGS 84)</b>: {{ siteDetails.coord }}</q-item-label
            >
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section v-if="siteDetails?.imageUrl">
        <q-img
          class="vertical-middle"
          fit="fill"
          height="40%"
          :src="siteDetails?.imageUrl"
          alt="Failed" />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
  import type { PropType } from 'vue'
  import { useI18n } from 'vue-i18n'

  import { speciesMap } from '@/mappings'
  import { SiteData } from '@/models'

  const { t } = useI18n()

  defineProps({
    open: {
      type: Boolean as PropType<boolean>,
      default: true,
      // required: true,
    },
    siteDetails: {
      type: Object as PropType<SiteData>,
      default: {} as SiteData,
    },
  })
</script>
